<div>
    This is a hero section.
</div>

{% schema %}
    {
        "name": "Hero",
        "settings": []
    }
{% endschema %}

{% stylesheet %}
  
{% endstylesheet %}

{% javascript %}
  
{% endjavascript %}