<div>
    <p style="font-size: 30px">{{ section.settings.text_input }}</p>
</div>

{% schema %}
    {
        "name": "Text Centre",
        "settings": [
            {
                "type": "text",
                "id": "text_input",
                "label": "Content"
            }
        ],
        "presets": [
            {
                "name": "Text Centre",

        }
    ]
    }
{% endschema %}

{% stylesheet %}
  
{% endstylesheet %}

{% javascript %}
  
{% endjavascript %}