.pagination {
    display: inline-block;
    margin-bottom: 50px;
    margin-top: 50px;
}

.pagination a {
    border: 1px solid black;
    color: black;
    margin: 0 4px;
    padding: 8px 32px;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #ddd;
}