{% paginate blog.articles by 1 %}
  <h1>{{ blog.title }}</h1>
  {% for article in blog.articles %}
    <div>
      <h2>
        <a href="{{ article.url }}">{{ article.title }}</a>
      </h2>
    </div>
  {% endfor %}

  {% render 'pagination', pagination_variable: paginate %}

{% endpaginate %}
